{% extends 'base.html' %} 

{% block title %}<h1>Cuenta Inactiva</h1>{% endblock title %} 

{% block content %} 
<div class="container">
            <div class="page-header">
                <h2><font color="blue">Cuenta Inactiva</font></h2>
            </div>
            <div>
            	<p>Su cuenta se encuentra inactiva en estos momentos, el proceso de activacion puede tardar de 1 a 2 dias</p>
            </div>
            <div>
            	<p>Si cuenta se encuentra inactiva, y no sabe el motivo por favor comuniquese con nostros</p>
            </div>

        </div>
{% endblock content %} 